<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Подключаем toastr -->
    <link rel="stylesheet" href="{% static 'css/toastr-for-me.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap">

    <link rel="icon" href="{% static 'image/web-icon.png' %}">
    <title>Send API | {% block title %}{% endblock %}</title>
    
    {%block links%}
    {%endblock%}
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-xl-mode" data-lang="ru">
    {% block body %}
    {% endblock %}
</body>
<script>
    $(document).ready(function () {
        {% if messages %}
        {% for message in messages %}
        toastr["{{ message.tags }}"]("{{ message }}");
        {% endfor %}
        {% endif %}

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });
</script>

</html>